h1{
  font-family: Intro;
  background-color: #f0d3ef;
  color:#ffffff;
  margin: 5px 0px 5px 0px;
}
body{
  background-color: #d0d0d0;
}
/** Slide **/
.slideContainer{
  background-color: #c9d5df;
  width: 100%;
  height: 400px;
  margin: 0px 0px 0px 0px;
  padding: 1px 1px 1px 1px;
}
#images {
    width: 100%;
    height: 350px;
    overflow: hidden;
    position: absolute;

    margin: 20px auto;
}
#images img {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: -400px;
    z-index: 1;
    opacity: 0;

    transition: all linear 500ms;
    -o-transition: all linear 500ms;
    -moz-transition: all linear 500ms;
    -webkit-transition: all linear 500ms;
}
#images img:target {
    left: 0;
    z-index: 9;
    opacity: 1;
}
#images img:first-child {
    left: 0;
}
#slider a {
    text-decoration: none;
    background: #E3F1FA;
    border: 1px solid #C6E4F2;
    padding: 4px 6px;
    color: #222;
}
#slider a:hover {
    background: #C6E4F2;
}
.contentContainer{
  background-color: #ccc5d0;
  width: 100%;
  height: 100%;
  font-size: 20px;
  letter-spacing: 1.5px;
  border-radius: 5px;
  padding: 20px;
  overflow: auto;
  margin: 10px 10px 10px 10px;
  position: absolute;
}
h2, h3, h4{
  font-family: Intro;
}
p, li{
  color: #ffffff;
  font-family: Simplifica;
}